{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please login to access your task list.</h3>

<form class="form" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="Name")}}
    <span class="error">
      {% if form.name.errors%}
        {%for error in form.name.errors%}
          {{ errors}}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.password(placeholder="Password")}}
    <span class="error">
      {% if form.password.errors%}
        {%for error in form.password.errors%}
          {{ errors}}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Sign in</button>
</form>
<br>
<p><em>Need an account? </em><a href="/register">Signup!!</a></p>


{% endblock %}